In [13]:
import numpy as np
import  pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [14]:
df = pd.read_csv('Data Set.csv')

In [15]:
df.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314

In [16]:
df.shape

(9551, 21)

In [17]:
#Identify the city with the highest number of restaurants in the dataset.
city_counts=df['City'].value_counts()
city_with_most_restaurants = city_counts.idxmax()

restaurants_in_city = df[df['City'] == city_with_most_restaurants]['Restaurant Name']
highest_count= city_counts.max()

print(f"The city with the highest number of restaurants is {city_with_most_restaurants} with {city_counts.max()} restaurants.")

The city with the highest number of restaurants is New Delhi with 5473 restaurants.

In [19]:
#Calculate the average rating for restaurants in each city.
avg_rating = df.groupby('City')['Aggregate rating'].mean()
print("The average rating in a each city is:",avg_rating)
print("----")

The average rating in a each city is: City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64
----

In [22]:
#Determine the city with the highest average rating.
city_highest_avg_rating = avg_rating.idxmax()
highest_avg_rating=avg_rating.max()
print("The city name of the:",city_highest_avg_rating,"with the rating",highest_avg_rating)

The city name of the: Inner City with the rating 4.9